.one {background-color:#45969B;color:black;height:700px;}
      .two {font-size:50px;}
      .three {color:white;}
      .four {color:white;)
      .five {color:white;}
.seven {position:absolute;top=200px;}